@import "../tailwind-colors";

main {
    > header {
        background-color: white;
        box-shadow: 0 0 5px #0000001c;
        padding: 1rem;
        top: 0;
        left: 0;
        right: 0;
        position: sticky;
        z-index: 1000;

        > .container {
            display: grid;
            grid-auto-flow: column;
            justify-content: space-between;
            align-items: center;
        }

        #nav {
            display: none;
            place-items: center;
            height: 45.59px;
            color: $indigo-600;
            width: auto;
            aspect-ratio: 1/1;
            border-radius: 50%;

            > a {
                display: none;
                width: 100%;
                height: 100%;
                place-items: center;
            }

            &:not(:target) {
                > a[href="#nav"] {
                    display: grid;
                }
            }

            &:target {
                > a[href="#"] {
                    display: grid;
                }
            }

            &:hover {
                background-color: $indigo-100;
            }
        }

        nav {
            display: grid;
            grid-auto-flow: column;
            gap: 3rem;
            color: $indigo-600;
            font-weight: bold;
            align-items: center;

            > ul {
                display: grid;
                grid-auto-flow: column;
                gap: 1.5rem;
                list-style: none;

                a {
                    display: grid;
                    grid-auto-flow: column;
                    gap: .4rem;

                    &:hover {
                        color: $indigo-900
                    }
                }
            }

            > button {
                background: none;
                border: 3px solid currentColor;
                color: $indigo-600;

                &:hover {
                    background: none !important;
                    color: $indigo-900;
                }
            }
        }

        @media (max-width: 768px) {
            nav {
                display: none;
                grid-area: 2 / 1 / 3 / 3;
                grid-auto-flow: row;

                ul {
                    grid-auto-flow: row;
                    gap: .5rem;
                    text-align: center;
                }
            }

            &:has(#nav:target) {
                bottom: 0;
                position: fixed;

                nav {
                    display: grid;
                }

                > .container {
                    display: grid;
                    grid-template-columns: repeat(2, auto);
                    grid-template-rows: auto 1fr;
                    row-gap: 2rem;
                }
            }

            #nav {
                display: grid;
                justify-self: end;
            }
        }

        @media print {
            display: none;
        }
    }

    &:has(#nav:target) {
        overflow: hidden;
    }
}
